[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
pymysql = "*"
dj-rest-auth = "*"
django-admin-volt = "*"
django-adminlte-3 = "*"
fontawesomefree = "*"

[dev-packages]

[requires]
python_version = "3.10"
