[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
pymysql = "*"
dj-rest-auth = "*"
fontawesomefree = "*"
django-jazzmin = "*"

[dev-packages]

[requires]
python_version = "3.10"
